{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cart/cart-detail.css' %}">
<title>Корзина</title>
{% endblock %}

{% block main %}
<h1>Ваша корзина</h1>

<table class="cart" width="100%">
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Цена</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td data-label="Услуга">{{ item.service.service_name }}</td>
            <td data-label="Дата">{{ item.date }}</td>
            <td data-label="Время">{{ item.time }}</td>
            <td data-label="Цена" class="num">${{ item.service.price }}</td>
            <td data-label="Удаление"><a href="{% url 'cart:cart_remove' item.id %}">Удалить</a></td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td>Общая сумма</td>
            <td colspan="2"></td>
            <td class="num total_price">${{ cart.get_total_price|floatformat:"2" }}</td>
        </tr>
    </tbody>
</table>

<hr>
<form method="post" action="{% url 'appointments:create_appointments' %}" id="appointmentForm" class="form-container">
    {% csrf_token %}
    <div class="form-group">
        <label for="dob">Введите промокод:</label>
        <input type="number" id="dob" placeholder="Промокод">
    </div>
    <div class="form-group">
        <button type="button" onclick="applyPromo()" class="form-button">Применить скидку</button>
    </div>
    <div class="form-group">
        <button type="button" id="ageConfirmationButton" class="form-button">Записаться</button>
    </div>
</form>


<script>
    document.getElementById("ageConfirmationButton").addEventListener("click", function () {
        var result = confirm("Подтвердите, что вам 18 лет или старше.");
        if (result === true) {
            document.getElementById("appointmentForm").submit();
        }
    });
</script>
{% endblock %}
