{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/about.css' %}">
<title>О нас</title>
{% endblock %} 

{% block main %}

<section id="about">
    <h1>О нашей компании</h1>
    <p>Клинический центр "So Cute" г. Гомеля» .
        Успех нашей работы основывается на
        высококвалифицированной команде молодых специалистов, гениев своего дела.
        "Добро пожаловать в SoCute.by" вашему надежному партнеру в мире
        косметологии! Мы гордимся тем, что предлагаем широкий ассортимент
        высококачественных услуг, а также профессиональное обслуживание и
        индивидуальный подход к каждому клиенту. Наш опыт и преданность качеству
        сделали нас лидерами в отрасли, и мы всегда готовы помочь вам.
    </p>
    <h2>Основными целями и задачами центра являются:</h2>
    <ul>
        <li>
            Оказание <strong>высококвалифицированных</strong> специализированных
            платных  медицинских услуг по косметологии и рекреационных процедур;
        </li>
        <li>
            Внедрение <strong>новых</strong> медицинских технологий и методик;
        </li>
        <li>
            Постоянное <strong>усовершенствование</strong> навыков врачей и средних медработников;
        </li>
    </ul>
    
    <p>
        В клиническом центре функционируют следующие лечебные структурные подразделения:
         два массажных отделение, два косметологических отделения и стоматологический кабинет.
    </p>
    
    <p>
        <a href="#contacts">Свяжитесь с нами сегодня</a>, чтобы задать все интересующие вас вопросы!
    </p>
    
    <h1>Наше видео</h1>
    
    <div style="text-align: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3SinWd80yFY?si=nkZ_hH70PwyJ3vXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
    <h1>Наш логотип:</h1>
    <div style="text-align: center;">
        <img src="../media/images/logo.jpg"width="300em" height="200em" />
    </div>
</section>


<section id="history">
    <h1>История нашей компании</h1>

    <h2>2020: Основание</h2>
    <p>1 октября 2020г. В г.Гомеле была открыта косметологическая лечебница.</p>
    <h2>2021: Расширение</h2>
    <p>20 августа 2021г. В г.Гомеле была открыта 2 косметологическая лечебница на улице Ленина 14.</p>
    <h2>2022: Сауна и солярий</h2>
    <p>19 декабря 2022г. во всех лечебницах были установлены самые современные сауны и солярии, дабы каждый гомельчанин мог загореть и расслабиться и без моря).</p>
</section>

<section id="contacts">
    <h1>Реквизиты</h1>

    <p><strong>Адрес:</strong> ул. Макаёнка 35, Гомель, 253505.</p>
    <p><strong>Телефон:</strong>+375 (29) 123-45-67</p>
    <p><strong>Электронная почта:</strong> <a href="#">SoCute@gmail.com</a></p>
    
    <h2>Часы работы:</h2>
    <p>Понедельник - Пятница: 9:00 AM - 6:00 PM</p>
    <p>Суббота: Выходной</p>
    <p>Воскресенье: Выходной</p>
    
    <h2>Социальные медиа:</h2>
    <ul>
        <li><a href="#">Telegram</a></li>
        <li><a href="#">Instagram</a></li>  
    </ul>
    
    <h2>Номера для обратной связи:</h2>
    <ul>
        <li>Поддержка: +375 (29) 123-45-67</li>
        <li>Техническая помощь: +375 (29) 123-45-67</li>
    </ul>
</section>
<div id="sertificate">
    <div>
        <div>
            <p>Сертификат о прохождении курса косметологии</p>
            <p>"SoCute"</p>
            <p>Вы успешно прошли курс по современным методам ухода.</p>
            <p>Дата завершения: 1 октября 2020 года</p>
            <p>Курс включал: теорию и практику по различным косметическим процедурам.</p>
            <p>Вы получили знания о лучших практиках и новейших технологиях в индустрии красоты.</p>
            <p>Ваши достижения будут отмечены в нашем реестре выпускников.</p>
            <p>Дополнительная информация: по запросу вы можете получить рекомендации.</p>
            <p>Контактная информация: +375 (29) 123-45-67</p>
            <p>Мы гордимся вашим успехом и желаем вам удачи в дальнейшей карьере!</p>
        </div>
    </div>
</div>
{%endblock%}