{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/home.css' %}">
<title>Главная страница</title>
{% endblock %}


{% block main %}
<h1>Главная страница</h1>
<h1 class="company-title">SoCute</h1>
<article id="scene">
    <img id="brush" src="media/images/brush.png" alt="image">
    <img id="face" src="media/images/face.png" alt="image">
    <img id="old_eyes" src="media/images/old_eyes.png" alt="image">
    <img id="new_eyes" src="media/images/new_eyes.png" alt="image">
    <img id="old_eyebrows" src="media/images/old_eyebrows.png" alt="image">
    <img id="new_eyebrows" src="media/images/new_eyebrows.png" alt="image">
    <img id="cheeks" src="media/images/cheeks.png" alt="image">
    <img id="new_nose" src="media/images/new_nose.png" alt="image">
    <img id="old_nose" src="media/images/old_nose.png" alt="image">
    <img id="old_mouse" src="media/images/old_mouse.png" alt="image">
    <img id="new_mouse" src="media/images/new_mouse.png" alt="image">
    <h1>SoCute</h1>
</article>
<h2>Наши партнёры:</h2>
<ul class="partners-list">
    {% for partner in partners %}
    <li>
        <a href="{{ partner.website }}" target="_blank">
            <img src="{{ partner.logo.url}}" alt="{{ partner.name }}" width="300em" height="200em">
        </a>
    </li> {% endfor %}
</ul>
<h2>Реклама:</h2>
<img src="../media/images/advert.jpg" alt="Реклама" width="500em" height="300em">
<h2>Последняя актуальная новость:</h2>

<div class="news">
    <h2>{{news.title}}</h2>
    <h3>{{news.essence}}</h3>
    <img src="{{news.photo.url}}" width="500em" height="300em">
    <a href="{% url 'main:news' %}">Показать больше</a>
</div>

<h2>Многиее выбирают:</h2>

<ul class="service-list">
    {% for service in services %}
    <div class="service-details">
        <li>
            <img src="{{ service.image.url }}" width="500em" height="300em">
            <h3>{{ service.service_name }}</h3>
            <a href="{% url 'services:service-detail' service.id %}">Подробнее</a>
        </li>
    </div>
    {% endfor %}
</ul>


{% endblock %}