/* appointment-list.css */

/* Основные стили для заголовка */
h1 {
font-size: 36px;
color: #2E0249;
text-align: center;
margin-bottom: 20px;
}

/* Стили для таблицы */
table {
width: 100%;
border-collapse: collapse;
margin-bottom: 30px;
}

thead th {
background-color: #FF66C4;
color: #fff;
padding: 15px;
font-size: 18px;
text-transform: uppercase;
}

tbody td {
padding: 12px;
border-bottom: 1px solid #ddd;
text-align: center;
}

/* Чередование строк в таблице */
tbody tr:nth-child(odd) {
background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
background-color: #e0e0e0;
}

/* Стили для ячеек таблицы при наведении */
tbody tr:hover {
background-color: #D100D1;
color: #fff;
}

/* Стили для кнопки добавления записи */
button {
display: block;
margin: 0 auto;
padding: 10px 20px;
background-color: #FF66C4;
color: #fff;
font-size: 16px;
border: none;
border-radius: 8px;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #2E0249;
}

/* Стили для адаптации под мобильные устройства */
@media (max-width: 768px) {
    h1 {
    font-size: 28px;
    }
    thead th, tbody td {
        font-size: 16px;
        padding: 10px;
    }

    button {
        width: 100%;
    }
}